services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: spotify_catalog
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: task_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: spotify_catalog
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: task_password
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  postgres_data:
